/*frontend/css/styles.css*/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
form input, form button {
    display: block;
    margin: 10px 0;
}
.student {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

/*2.0*/
.selectPages{
    width:auto;
    display:inline-block;
}


/*inciso e*/

.cartel {
    margin: 20px auto; 
    background-color: #D94023;
    border: 2px solid black;
    border-radius: 10px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-cartel {
    font-size: 1.5em;
    text-align: center;
}

.cruz {
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.img-cartel {
    height: 60vh;
    width: 40vw;
}